body {
  font-size: 16px;
  color: #76625B;
  background-color: #90C0D5;
  font-family: 'PT Serif', serif;
}

/** HEADER **/
.navbar {
  background-color: #F1E6DF;
  border-radius: 0;
  border: 0;
 
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 25px;
}
.navbar-brand h1 { /* site name */
  font-family: 'PT Serif', serif;
  color: #9B8C82;
  font-size: 1,5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#Item-text
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #0369A6;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 20px;
}
#bs-example-navbar-collapse-1 > ul {
	background:#C7BAB2 ;
	margin-bottom: 0px;
}
	/* END HEADER */

/* HOME PAGE */
#Chicken, #Beef, #Sushi {
	margin-bottom: 25px;
	margin-top: 5px;
}
#section1, #section2, #section3 {
	background-color: #E0DAD7;
	border: 1px solid;
	padding: 15px;
}
#main-content > h2 {
  font-family: 'Source Sans Pro', sans-serif;
}
#section1 > h3, #section2 > h3, #section3 > h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
a[href="#top"] {
  color: #493F3C;
}
/* END HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {

  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
  /* End Header */
  
  
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	
	
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  
  /* End Header */
  /* Home Page */
  
  
}
